.calenderBarA {
  width: 100%;
  height: 25px;

  position: relative;
  top: -19rem;
  background: #055eb6;
  box-shadow: 5px 5px 50px 5px rgba(124, 134, 185, 0.15);
  border-radius: 10px 10px 0px 0px;
}
