.weatherImg {
  object-fit: contain;
  height: 5rem;
}

@media all and (min-width: 1101px) {
  .weatherImg {
    width: 6.6875rem;
  }
}
@media all and (max-width: 1100px) {
  .weatherImg {
    width: 5rem;
  }
}
