.communitySellerCard {
  width: 13.375rem;
  height: 11.5625rem;
  border-radius: 0.625rem;
  background: rgba(148, 193, 91, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.communitySellerCard > p {
  width: 10rem;
  font-family: Jua;
  font-size: 1.125rem;
  font-weight: 400;
  white-space: pre-line;
  text-align: justify;
  letter-spacing: 0.005rem;
  margin: auto;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.communitySellerCard > div {
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
}
.communitySellerCard > div > div:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 0.8rem;
}
.communitySellerCard > div > div:last-of-type > p {
  text-align: right;
  font-family: Jua;
  font-size: 0.75rem;
  font-weight: 400;
}
.communitySellerCard > div > div:last-of-type > p:first-of-type {
  width: 4.75rem;
  white-space: nowrap;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
