.categoryContainerA {
    position: absolute;
    width: 88.5%;
    margin-top: 15rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    /* border: 1px solid black; */

}

.graphCategoryA {
    display: inline-block;
    font-family: 'SUITE Variable';
    font-weight: 700;
    font-size: 13px;

    color: #CDCDCD;
    margin-right: 1.85rem;
    margin-left: 1.85rem;
}