.calenderCellA {
    display: inline-block;
    width: 3.3rem;
    height: 2.9rem;
    border: 3px solid #F7F7F7;

    margin: 2px;

    font-family: 'SUITE Variable';
    font-size: 12px;
    line-height: 1.3rem;
}

.cellDataA {
    font-size: 14px;
    font-weight: 700;
    color: #FA9595;

}