<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.javajo.sunshineRoad.mappers.totalActivity.RegReservationMapper">
	<resultMap id="ReservationContentDTO" type="ReservationContent">
		<result property="reservationId" column="reservation_id" />
		<result property="paymentId" column="payment_id" />
		<result property="aId" column="a_id" />
		<result property="uId" column="u_id" />
		<result property="reservationHeadcount" column="reservation_headcount" />
		<result property="reviewStatus" column="review_status" />
		<result property="reservationStatus" column="reservation_status" />
		<result property="reservationDate" column="reservation_date" />
	</resultMap>
	
	<insert id="addReservationData" parameterType="ReservationContent">
		INSERT INTO reservation (reservation_id, payment_id,
								 a_id, u_id,
								 reservation_headcount, review_status, reservation_status,
								 reservation_date)
		VALUES (reservation_seq.NEXTVAL,
				#{paymentId}, #{aId}, #{uId},
				#{reservationHeadcount}, DEFAULT, DEFAULT,
				TO_DATE(#{reservationDate}, 'YYYY-MM-DD HH24:MI:SS'))
	</insert>
	<insert id="addToActivityCustomerList" parameterType="ReservationContent">
		INSERT INTO activity_customer
		VALUES (activity_customer_seq.NEXTVAL, #{aPostId}, #{uId})
	</insert>

	<insert id="addPaymentData" parameterType="ReservationContent">
		INSERT INTO payment_info VALUES (payment_info_seq.NEXTVAL, DEFAULT, #{paymentAmount}, SYSDATE + 7)
	</insert>
	<select id="getPaymentId" resultType="int">
		SELECT MAX(payment_id) FROM payment_info
	</select>
	
	<update id="updateReservationData" parameterType="ReservationContent">
		UPDATE reservation
		SET payment_id       = #{paymentId},
			reservation_date = TO_DATE(#{reservationDate}, 'YYYY-MM-DD HH24:MI:SS')
		WHERE reservation_id = #{reservationId}
	</update>
	
	<delete id="deleteReservationData" parameterType="int">
		DELETE
		FROM reservation
		WHERE reservation_id = #{rId}
	</delete>
	<delete id="deleteFromActivityCustomerList" parameterType="ReservationContent">
		DELETE
		FROM activity_customer
		WHERE a_post_id = #{aPostId}
		  AND u_id = #{uId}
	</delete>
	</mapper>