<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
   namespace="com.javajo.sunshineRoad.mappers.totalActivity.ReservationContentMapper">
   <resultMap id="ReservationContentDTO" type="ReservationContent">
      <result property="reservationId" column="reservation_id" />
      <result property="paymentId" column="payment_id" />
      <result property="aId" column="a_id" />
      <result property="uId" column="u_id" />
      <result property="reservationHeadcount" column="reservation_headcount" />
      <result property="reviewStatus" column="review_status" />
      <result property="reservationStatus" column="reservation_status" />
      <result property="reservationDate" column="reservation_date" />
   </resultMap>

<!--    MySQL-->
   <select id="getReservationContentData"
      resultType="ReservationContent" parameterType="int">
      SELECT reservation_id,
             payment_id,
             a_id,
             u_id,
             reservation_headcount,
             review_status,
             reservation_status,
             reservation_date
      FROM reservation
      WHERE reservation_id = #{rId}
   </select>
   <select id="getReservationPeopleData" resultType="int"
      parameterType="int">
      SELECT SUM(reservation_headcount) AS total_headcount
      FROM reservation
      WHERE reservation_status IN ('예약대기', '예약완료')
        AND a_id = #{a_id}
   </select>
</mapper>