.userInfoInputBtn {
  height: 4rem;
  width: fit-content;
  padding: 1rem;
  border-radius: 0.625rem;
  background: none;
  border: 1px solid #000;
  cursor: pointer;
  margin: 1rem;

  text-align: center;
  font-family: SUITE Variable;
  font-size: 1.25rem;
  font-weight: 600;
}

.userInfoInputBtn:active {
  background: #000;
  color: #fff;
}
