.adminLoginStateBox {
  width: 9.5625rem;
  height: 2.4375rem;
  border-radius: 0.625rem;
  background: rgba(186, 203, 255, 0.42);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
  margin: 0.5rem;
}

.adminLoginStateBox a {
  text-decoration: none;
}

.adminLoginStateText {
  color: #000;
  font-family: SUITE Variable;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  height: 2.4375rem;
  line-height: 2.4375rem;
}
