

.inputDefaultA > input {
    width: 18rem;
    height: 2.1rem;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    float: right;
    margin-bottom: 0.96rem;
}
/*.inputButtonA > input {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    width: 4rem;
    height: 2.1rem;
    float: right;  
}
 .inputButtonA > input:hover {
    background: #b64343;
}
.inputButtonA > input:visited {
    background: #b64343;
} */

