.infoDetailBackGroundBox {
    margin-left: 8rem;
    padding: 80px;
    width: 48rem;
    height: 903px;
    background: #FBFBFB;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.infoDetailInnerBox{
    box-sizing: border-box;
    width: 38rem;
    height: 635px;
    background: #FFFFFF;
    border: 0.9px solid #a3a3a3;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 4rem;
}

.infoDetailClip {
    width: 7rem;
    position: absolute;
    top: 3.4rem;
    left: 29rem; 
}
.infoDetailName{
    margin-left: 11.8rem;
    display: inline-block;
    padding: 10px;
    background: #FFCC48;
    border-radius: 20px;

    font-family: 'SUITE Variable';
    /* font-style: normal; */
    font-weight: 600;
    /* font-size: 18px; */
    /* line-height: 22px; */
}