.myPageNavBox a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myPageNavBox {
  width: fit-content;
  height: fit-content;
  border-radius: 6.25rem;
  background-color: rgba(209, 209, 209, 0.57);
  padding: 0.3rem 0.5rem;
  padding-right: 0.8rem;
  margin: 0.5rem;
}
.myPageNavBoxActive {
  background-color: rgba(104, 159, 240, 0.57);
}

.myPageNavBoxCircle {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: #ababab;
}
.myPageNavBoxCircleActive {
  background-color: #478ef6;
}

.myPageNavBox p {
  color: #000;
  font-family: Jua;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
