<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.javajo.sunshineRoad.mappers.mypageSeller.MypageActivityPostMapper">

	<resultMap type="MypageMemberDTO" id="actMemListView">
		<result column="u_nick" property="uNick" />
		<result column="u_name" property="uName" />
		<result column="u_tel" property="uTel" />
		<result column="u_email" property="eMail" />
<!--		<association property="activityCustomer"-->
<!--			javaType="MypageActivityCustomerDTO">-->
<!--			<result column="act_cus_cnt" property="actCusCnt" />-->
<!--		</association>-->
		<association property="reservation" javaType="Reservation">
			<result column="reservation_status"
				property="reservationStatus" />
		</association>
	</resultMap>

<!--	MySQL-->
	<select id="selectCount" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM ACTIVITY_POST
		WHERE A_ID IN
			  (SELECT A_ID
			   FROM ACTIVITY_INFO
			   WHERE S_ID = #{sId})
	</select>

	<select id="selectByNo" parameterType="int"
		resultType="ActivityPost">
		SELECT P.a_post_id,
			   P.a_id,
			   P.a_img_id,
			   P.a_post_content,
			   P.a_view_cnt,
			   P.a_favorite_cnt,
			   P.a_post_date_created
		FROM ACTIVITY_POST P
				 JOIN ACTIVITY_INFO A ON (P.A_ID = A.A_ID)
		WHERE S_ID = #{sId}
		ORDER BY A_POST_DATE_CREATED DESC
			LIMIT #{perPagePostNo}
		OFFSET #{start}
	</select>

	<select id="selectParticipantCount" parameterType="int"
			resultType="int">
		SELECT COUNT(*)
		FROM (SELECT *
			  FROM ACTIVITY_CUSTOMER
			  WHERE A_ID = #{postId}) A
				 JOIN MEMBER M ON
			(A.U_ID = M.U_ID)
				 JOIN RESERVATION R ON (R.U_ID = M.U_ID)
		WHERE R.A_ID = #{postId}
	</select>

	<!-- 체험 게시글에서 멤버 정보 가져오기 -->
	<select id="selectInfoByPostId" parameterType="int"
		resultMap="actMemListView">
		SELECT
			M.U_NICK,
			M.U_NAME,
			M.U_TEL,
			M.U_EMAIL,
			R.RESERVATION_STATUS
		FROM
			(SELECT * FROM
				ACTIVITY_CUSTOMER WHERE A_ID = #{postId}) A
				JOIN MEMBER M ON (A.U_ID = M.U_ID)
				JOIN RESERVATION R ON (R.U_ID = M.U_ID)
		WHERE R.A_ID = #{postId}
			LIMIT #{perPagePostNo} OFFSET #{start}
	</select>
</mapper>