.inquirySearchingBoxSet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
  margin: auto;
  margin-bottom: 3rem;
}

.inquirySearchingBoxSet form:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}
