<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.javajo.sunshineRoad.mappers.mypageMember.MypageReservationMapper">


	<!-- property : 자바 필드명(참조 변수명), column : 디비 컬럼명, javaType : 자바 객체 -->
	<!-- 자바에서 타입은 객체 -->
	<resultMap type="Reservation" id="selectByReservation">
		<id column="reservation_id" property="reservationId" />
		<result column="payment_id" property="paymentId" />
		<result column="a_id" property="aId" />
		<result column="a_name" property="aName" />
		<result column="u_id" property="uId" />
		<result column="reservation_date" property="reservationDate" />
		<result column="reservation_headcount"
			property="reservationHeadCount" />
		<result column="review_status" property="reviewStatus" />
		<result column="reservation_status"
			property="reservationStatus" />
		<result column="payment_status_id" property="paymentStatusId" />
		<association property="paymentInfo" javaType="PaymentInfo">
			<result column="payment_amount" property="paymentAmount" />
			<result column="payment_deadline" property="paymentDeadline" />
		</association>
		<association property="activityInfo"
			javaType="MypageActivityInfoDTO">
			<result column="a_name" property="aName" />
			<result column="a_thumbnail_img" property="aThumbnailImg" />
		</association>
	</resultMap>
	<select id="selectByNo" parameterType="int"
		resultMap="selectByReservation">
		SELECT RESERVATION_ID,
			   PAYMENT_ID,
			   A_ID,
			   U_ID,
			   RESERVATION_HEADCOUNT,
			   REVIEW_STATUS,
			   RESERVATION_STATUS,
			   RESERVATION_DATE,
			   PAYMENT_STATUS_ID,
			   A_NAME,
			   PAYMENT_AMOUNT,
			   PAYMENT_DEADLINE,
			   A_THUMBNAIL_IMG
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY
		R.RESERVATION_DATE DESC) NUM,
					 R.*,
					 A.A_NAME,
					 P.PAYMENT_AMOUNT,
					 P.PAYMENT_DEADLINE,
					 P.PAYMENT_STATUS_ID,
					 A.A_THUMBNAIL_IMG
			  FROM (SELECT *
					FROM RESERVATION
					WHERE U_ID = #{uId}) R
					   LEFT JOIN PAYMENT_INFO P ON (R.PAYMENT_ID = P.PAYMENT_ID)
					   LEFT JOIN ACTIVITY_INFO A ON (R.A_ID = A.A_ID))
		WHERE NUM BETWEEN #{start} AND #{end}
	</select>
	<select id="selectCount" parameterType="int" resultType="int">
		SELECT
		COUNT(*) FROM RESERVATION WHERE U_ID=#{uId}
	</select>
</mapper>



<!-- parameterType : 넣어야 하는 변수 타입 -->
<!-- resultType : 반환되는 결과(한 row) 타입 -->
<!-- #{} : '' 이 자동으로 씌워져서 들어감 -> 문자열에 적합 -->
<!-- ${} : 변수 그대로 들어감 -> 정수형에 적합 -->