.inquiryDetailAnswer {
  width: 51.4375rem;
  height: fit-content;
  border-radius: 0.625rem;
  background: rgba(104, 159, 240, 0.36);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.inquiryDetailAnswer > p {
  width: 46.9375rem;
  text-align: justify;
  font-family: SUITE Variable;
  font-size: 0.9375rem;
  font-weight: 500;
  margin: 2rem auto;
  white-space: pre-line;
}
