.activityContentsBox {
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  margin: 5rem auto 5rem;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: -5px 6px 15px 7px rgba(165, 149, 83, 0.15);
}
