<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javajo.sunshineRoad.mappers.security.SignUpMapper">

<!--	Oracle-->
    <select id="isMemberData" parameterType="String" resultType="int">
        SELECT COUNT(*)
		FROM member
		WHERE u_email = #{email}
    </select>
    
    <insert id="insertMemberData" parameterType="SignUpMember">
		INSERT INTO member (
			u_id,
			mem_type_id,
			u_name,
			u_email,
			u_nick,
			u_pw,
			u_tel,
			u_reg_date,
			u_marketing,
			u_gender,
			u_birth
		) VALUES (
			member_seq.NEXTVAL,
			DEFAULT,
			#{uName},
			#{uEmail},
			#{uNick},
			#{uPw},
			#{uTel},
			DEFAULT,
			#{uMarketing},
			#{uGender},
			TO_DATE(#{uBirth}, 'YYYY-MM-DD')
		)
	</insert>

    <select id="isSellerData" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM seller
		WHERE s_email = #{email}
	</select>

	<insert id="insertAccountInfoData" parameterType="SellerAccountInfo">
		INSERT INTO account_info
		VALUES (account_info_seq.NEXTVAL,
				#{bank_info_id},
				#{account_number},
				#{account_holder},
				#{account_name})
	</insert>

	<select id="getAccountInfoId" resultType="int">
		SELECT MAX(account_info_id) FROM account_info
	</select>

    <insert id="insertSellerData" parameterType="SignUpSeller">
		INSERT INTO seller (
			s_id,
			account_info_id,
			mem_type_id,
			s_email,
			s_com_name,
			s_pw,
			s_tel,
			s_reg_date,
			s_addr,
			s_reg_num,
			s_marketing_consent,
			s_approval,
			s_rep_name
		) VALUES (
			seller_seq.NEXTVAL,
			#{accountInfoId},
			DEFAULT,
			#{sEmail},
			#{sComName},
			#{sPw},
			#{sTel},
			DEFAULT,
			#{sAddr},
			#{sRegNum},
			#{sMarketingConsent},
			#{sApproval},
			#{sRepName}
		)
	</insert>

	<select id="getBankList" resultType="BankList">
		SELECT bank_info_id, bank_name FROM bank_request_info
	</select>
</mapper>