.totalActThemeTitleContentSetRight {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.totalActThemeTitleContentSetLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
}
