.TopBackgroundBoxA{
    width: 55%;
    min-width: 800px;
    height: 200px;
    padding: 10px;
    margin-left: 60px;
    background: #f8f8f8;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

} 
.TopLinnerBoxA{
    width: 100%;
    height: 110px;
    background: #F3F6FF;
    border-radius: 15px;
    margin-top: 33px;
    padding: 18px;
    padding-left: 40px;
} 

.CategoryNameA {
    display: inline-block;
    padding: 8px;
    background: #FFCC48;
    border-radius: 10px;
}
        
.CategoryNameA > p {
    font-family: 'SUITE Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
} 
.TopSearchLabelA {
    /* border : 1px solid black; */
    list-style: none;
    display: inline-block;
    line-height: 30px;
    font-family: 'SUITE Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
