.wrotePostTitleA {
  display: inline-block;
  padding: 8px;
  background: #6593ed;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.wrotePostTitleA > p {
  font-family: 'SUITE Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}
.wrotePostA {
  list-style: none;
  font-family: 'SUITE Variable';
  color: #363636;
  font-size: 0.9rem;
}
