<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javajo.sunshineRoad.mappers.admin.board.AdminActivityCntMapper">

	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM ACTIVITY_INFO
	</select>
	
	<select id="selectStartDateActivityCnt" resultType="int">
		SELECT COUNT(*)
		FROM ACTIVITY_INFO
		WHERE A_START_DATE BETWEEN
				  TO_TIMESTAMP(#{searchDTO.startDate}, 'YYYY-MM-DD HH24:MI:SS.xff')
				  AND TO_TIMESTAMP(#{searchDTO.endDate}, 'YYYY-MM-DD HH24:MI:SS.xff')
	</select>	

	<select id="selectEndDateActivityCnt" resultType="int">
		SELECT COUNT(*)
		FROM ACTIVITY_INFO
		WHERE A_END_DATE BETWEEN
				  TO_TIMESTAMP(#{searchDTO.startDate}, 'YYYY-MM-DD HH24:MI:SS.xff')
				  AND TO_TIMESTAMP(#{searchDTO.endDate}, 'YYYY-MM-DD HH24:MI:SS.xff')
	</select>	
	
	<select id="selectDateReservationCnt" resultType="int">
		SELECT COUNT(*)
		FROM ACTIVITY_INFO
		WHERE A_RESERVATION_DEADLINE BETWEEN
				  TO_TIMESTAMP(#{searchDTO.startDate}, 'YYYY-MM-DD HH24:MI:SS.xff')
				  AND TO_TIMESTAMP(#{searchDTO.endDate}, 'YYYY-MM-DD HH24:MI:SS.xff')
	</select>		
		
	<select id="selectActivityCnt" resultType="int">
		SELECT COUNT(*)
		FROM (SELECT A_ID,
					 S_ID,
					 S_COM_NAME,
					 SIGUNGU_ID,
					 SIGUNGU_NAME,
					 SIDO_ID,
					 SIDO_NAME,
					 A_THEME_ID,
					 A_THEME_NAME,
					 TO_CHAR(A_START_DATE, 'YYYY-MM-DD') AS A_START_DATE,
					 TO_CHAR(A_END_DATE, 'YYYY-MM-DD')   AS A_END_DATE,
					 A_ADDR,
					 A_NAME,
					 A_ONE_LINER,
					 A_MIN_PEOPLE,
					 A_MAX_PEOPLE,
					 A_CHARGE,
					 S_SITE,
					 A_RESERVATION_DEADLINE
			  FROM (SELECT A.A_ID,
						   A.S_ID,
						   S.S_COM_NAME,
						   A.SIGUNGU_ID,
						   G.SIGUNGU_NAME,
						   G.SIDO_ID,
						   D.SIDO_NAME,
						   A.A_THEME_ID,
						   T.A_THEME_NAME,
						   A.A_START_DATE,
						   A.A_END_DATE,
						   A.A_ADDR,
						   A.A_NAME,
						   A.A_ONE_LINER,
						   A.A_MIN_PEOPLE,
						   A.A_MAX_PEOPLE,
						   A.A_CHARGE,
						   A.S_SITE,
						   A.A_RESERVATION_DEADLINE
					FROM ACTIVITY_INFO A
							 LEFT JOIN SELLER S
										ON (A.S_ID = S.S_ID)
							 LEFT JOIN ACTIVITY_THEME T
										ON (A.A_THEME_ID = T.A_THEME_ID)
							 LEFT JOIN REGION_SIGUNGU G
										ON (A.SIGUNGU_ID = G.SIGUNGU_ID)
							 LEFT OUTER JOIN REGION_SIDO D
											 ON (G.SIDO_ID = D.SIDO_ID)
					WHERE (A.A_NAME LIKE '%' || #{searchDTO.keyword} || '%'
						AND G.SIDO_ID = #{searchDTO.sido}
						AND A.SIGUNGU_ID = #{searchDTO.sigungu})
					   OR (A.A_NAME LIKE '%' || #{searchDTO.keyword} || '%')
					UNION
					SELECT A.A_ID,
						   A.S_ID,
						   S.S_COM_NAME,
						   A.SIGUNGU_ID,
						   G.SIGUNGU_NAME,
						   G.SIDO_ID,
						   D.SIDO_NAME,
						   A.A_THEME_ID,
						   T.A_THEME_NAME,
						   A.A_START_DATE,
						   A.A_END_DATE,
						   A.A_ADDR,
						   A.A_NAME,
						   A.A_ONE_LINER,
						   A.A_MIN_PEOPLE,
						   A.A_MAX_PEOPLE,
						   A.A_CHARGE,
						   A.S_SITE,
						   A.A_RESERVATION_DEADLINE
					FROM ACTIVITY_INFO A
							 LEFT JOIN SELLER S
										ON (A.S_ID = S.S_ID)
							 LEFT JOIN ACTIVITY_THEME T
										ON (A.A_THEME_ID = T.A_THEME_ID)
							 LEFT JOIN REGION_SIGUNGU G
										ON (A.SIGUNGU_ID = G.SIGUNGU_ID)
							 LEFT OUTER JOIN REGION_SIDO D
											 ON (G.SIDO_ID = D.SIDO_ID)
					WHERE (G.SIDO_ID = #{searchDTO.sido}
						AND A.SIGUNGU_ID = #{searchDTO.sigungu}
						AND A.A_THEME_ID = #{searchDTO.theme})
					   OR (G.SIDO_ID = #{searchDTO.sido}
						AND A.SIGUNGU_ID = #{searchDTO.sigungu})
					   OR (A.A_THEME_ID = #{searchDTO.theme})
					UNION
					SELECT A.A_ID,
						   A.S_ID,
						   S.S_COM_NAME,
						   A.SIGUNGU_ID,
						   G.SIGUNGU_NAME,
						   G.SIDO_ID,
						   D.SIDO_NAME,
						   A.A_THEME_ID,
						   T.A_THEME_NAME,
						   A.A_START_DATE,
						   A.A_END_DATE,
						   A.A_ADDR,
						   A.A_NAME,
						   A.A_ONE_LINER,
						   A.A_MIN_PEOPLE,
						   A.A_MAX_PEOPLE,
						   A.A_CHARGE,
						   A.S_SITE,
						   A.A_RESERVATION_DEADLINE
					FROM ACTIVITY_INFO A
							 LEFT JOIN SELLER S
										ON (A.S_ID = S.S_ID)
							 LEFT JOIN ACTIVITY_THEME T
										ON (A.A_THEME_ID = T.A_THEME_ID)
							 LEFT JOIN REGION_SIGUNGU G
										ON (A.SIGUNGU_ID = G.SIGUNGU_ID)
							 LEFT OUTER JOIN REGION_SIDO D
											 ON (G.SIDO_ID = D.SIDO_ID)
					WHERE (A.A_CHARGE <![CDATA[<=]]> #{searchDTO.charge})
					   OR (A.A_CHARGE <![CDATA[<=]]> #{searchDTO.charge}
						AND G.SIDO_ID = #{searchDTO.sido}
						AND A.SIGUNGU_ID = #{searchDTO.sigungu})))
			</select>

</mapper>