.wroteTableA {
  /* border: 1px solid black; */
  width: 100%;
  border-collapse: collapse;
  font-family: 'SUITE Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  /* line-height: 19px; */
  text-align: center;

  color: #3f3f3f;
}
.wroteTableA > thead > tr > th,
.wroteTableA > tbody > tr > td {
  height: 50px;
}
.wroteTableA > tbody > tr:nth-child(odd) {
  background: rgba(85, 142, 228, 0.05);
}

.wroteHoverA {
  text-decoration: none;
  color: #3f3f3f;
  &:hover {
    text-decoration: underline;
    color: rgb(226, 104, 3);
  }
}
