.adminNavBox {
  width: 20rem;
  min-height: 100vh;
  max-height: max-content;
  background: #055eb6;
  box-shadow: 1px 3px 20px #7c86b9;
  border-radius: 110px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  float: left;
}
