.adminNavContent {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  height: fit-content;
  padding: 0.3rem 0.8rem;
}

.adminNavContent p {
  color: #fff;
  font-family: SUITE Variable;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
  padding-right: 0.1rem;
}

.adminNavContent a {
  text-decoration: none;
}

.adminNavContentActive {
  background: #ffffff;
  border-radius: 50px;
}

.adminNavContentActive p {
  color: #000;
  font-weight: 750;
  padding-right: 0;
}
