.graphBarBoxA {
  width: 1.5rem;
  height: 15.7rem;
  margin-right: 1.8rem;
  margin-left: 1.8rem;

  padding-top: 30%;
}
.graphBarA {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: SUITE Variable;

  /* background: radial-gradient(108.75% 86.18% at 50% 13.82%, #055EB6 5.73%, rgba(5, 94, 182, 0.62) 100%);
    background: radial-gradient(92.05% 92.06% at 48.57% 7.95%, #FFCC48 0%, rgba(255, 204, 72, 0.49) 100%);
    background: radial-gradient(86.36% 86.38% at 48.57% 13.64%, #FFCED7 0%, rgba(253, 247, 248, 0.99) 100%);
    background: radial-gradient(89.6% 89.61% at 48.57% 10.4%, #D8E2FF 0%, rgba(231, 237, 255, 0.55) 85.22%); */
}

.graphBarA > p {
  color: #fff;
  font-size: 14px;
}
