<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.javajo.sunshineRoad.mappers.mypageMember.MypageMemberMapper">

<!--	MySQL-->
	<select id="selectByNo" parameterType="long"
		resultType="MypageMemberDTO">
		SELECT u_id,
			   mem_type_id,
			   u_name,
			   u_email,
			   u_nick,
			   u_tel,
			   DATE_FORMAT(u_reg_date, '%Y-%m-%d') AS u_reg_date,
			   u_marketing,
			   u_gender,
			   DATE_FORMAT(u_birth, '%Y-%m-%d')    AS u_birth,
			   u_google_login,
			   u_naver_login,
			   u_kakao_login,
			   social_type,
		FROM MEMBER
		WHERE U_ID = #{uId}
	</select>

	<update id="changeByName">
		UPDATE MEMBER SET U_NAME
		= #{uName} WHERE U_ID = #{uId}
	</update>

	<!-- 체험 게시글에서 멤버 정보 가져오기 -->
	<select id="selectMemberByPostId" parameterType="int"
		resultType="MypageMemberDTO">
		SELECT *
		FROM MEMBER
		WHERE U_ID IN (SELECT U_ID FROM
		ACTIVITY_CUSTOMER_1 WHERE A_POST_ID =
		#{postId})
	</select>
	
	
</mapper>

<!-- parameterType : 넣어야 하는 변수 타입 -->
<!-- resultType : 반환되는 결과(한 row) 타입 -->
<!-- #{} : '' 이 자동으로 씌워져서 들어감 -> 문자열에 적합 -->
<!-- ${} : 변수 그대로 들어감 -> 정수형에 적합 -->
<!-- #으로 써야함 : $ :동적으로 이름 바꿀때 . -->