<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javajo.sunshineRoad.mappers.admin.AdminMemberMapper">


	<select id="getAllMembers" resultType="AMember">
	SELECT U_ID, MEM_TYPE_ID, U_NAME,
	U_EMAIL, U_NICK, U_TEL, U_REG_DATE,
	U_MARKETING, U_GENDER, U_BIRTH,
	U_GOOGLE_LOGIN, U_NAVER_LOGIN,
	U_KAKAO_LOGIN
	FROM (SELECT U_ID, MEM_TYPE_ID, U_NAME,
		SEQ,
		U_EMAIL, U_NICK, U_TEL, U_REG_DATE,
		U_MARKETING, U_GENDER, U_BIRTH,
		U_GOOGLE_LOGIN, U_NAVER_LOGIN,
		U_KAKAO_LOGIN
		FROM (SELECT U_ID, MEM_TYPE_ID, U_NAME,
			ROWNUM AS SEQ,
			U_EMAIL, U_NICK, U_TEL, U_REG_DATE,
			U_MARKETING, U_GENDER, U_BIRTH,
			U_GOOGLE_LOGIN, U_NAVER_LOGIN,
			U_KAKAO_LOGIN
			FROM (SELECT U_ID, MEM_TYPE_ID, U_NAME,
				U_EMAIL, U_NICK, U_TEL, U_REG_DATE,
				U_MARKETING, U_GENDER, U_BIRTH,
				U_GOOGLE_LOGIN, U_NAVER_LOGIN,
				U_KAKAO_LOGIN
				FROM MEMBER
				ORDER BY U_ID)
	    		)
    		WHERE seq <![CDATA[>=]]> #{startPostNo}
    	)
    	WHERE ROWNUM <![CDATA[<=]]> #{endPostNo}  
	</select>

	<select id="selectMemberID" parameterType="int" resultType="AMember">
	SELECT U_ID, MEM_TYPE_ID, U_NAME,
	U_EMAIL, U_NICK, U_TEL, U_REG_DATE,
	U_MARKETING, U_GENDER, U_BIRTH,
	U_GOOGLE_LOGIN, U_NAVER_LOGIN,
	U_KAKAO_LOGIN 
	FROM MEMBER WHERE U_ID=#{uId}
	</select>
	
	<select id="selectMemberDATE" resultType="AMember">
	SELECT U_ID, MEM_TYPE_ID, U_NAME,
	U_EMAIL, U_NICK, U_TEL, U_REG_DATE,
	U_MARKETING, U_GENDER, U_BIRTH,
	U_GOOGLE_LOGIN, U_NAVER_LOGIN,
	U_KAKAO_LOGIN 
	FROM (SELECT U_ID, MEM_TYPE_ID, U_NAME,
		SEQ,
		U_EMAIL, U_NICK, U_TEL, U_REG_DATE,
		U_MARKETING, U_GENDER, U_BIRTH,
		U_GOOGLE_LOGIN, U_NAVER_LOGIN,
		U_KAKAO_LOGIN 
		FROM (SELECT U_ID, MEM_TYPE_ID, U_NAME,
			ROWNUM AS SEQ,
			U_EMAIL, U_NICK, U_TEL, U_REG_DATE,
			U_MARKETING, U_GENDER, U_BIRTH,
			U_GOOGLE_LOGIN, U_NAVER_LOGIN,
			U_KAKAO_LOGIN 
			FROM (SELECT U_ID, MEM_TYPE_ID, U_NAME,
				U_EMAIL, U_NICK, U_TEL, U_REG_DATE,
				U_MARKETING, U_GENDER, U_BIRTH,
				U_GOOGLE_LOGIN, U_NAVER_LOGIN,
				U_KAKAO_LOGIN 
				FROM MEMBER 
				WHERE U_REG_DATE BETWEEN 
				TO_TIMESTAMP(#{searchDTO.startDate}, 'YYYY-MM-DD HH24:MI:SS.xff') 
				AND TO_TIMESTAMP(#{searchDTO.endDate}, 'YYYY-MM-DD HH24:MI:SS.xff')
				ORDER BY U_ID)
	    		)
    		WHERE seq <![CDATA[>=]]> #{startPostNo}
    	)
    	WHERE ROWNUM <![CDATA[<=]]> #{endPostNo}  
	</select>
	
	<update id="updateMember" parameterType="AMember">
	UPDATE MEMBER SET
	U_NAME=#{uName},
	U_EMAIL=#{uEmail},
	U_NICK=#{uNick},
	U_PW=#{uPw},
	U_TEL=#{uTel}
	WHERE U_ID=#{uId}
	</update>
	
	
	<delete id="delMember" parameterType="int">
	DELETE FROM MEMBER WHERE U_ID=#{uId}
	</delete>
	
	<resultMap type="AMCommunity" id="AMCommunityMap">
		<result column="U_COMMUNITY_CONTENT" property="uCommunityContent"/>
		<result column="U_COMMUNITY_FAVORITE_CNT" property="uCommunityFavoriteCnt"/>
		<result column="U_COMMUNITY_DATE_CREATED" property="uCommunityDateCreated"/>
		<collection property="postTypeDTO" resultMap="PostType" />
	</resultMap>
	
	<resultMap type="APostType" id="APostTypeMap">
		<result column="POST_TYPE_ID" property="postTypeId"/>
		<result column="POST_TYPE_NAME" property="postTypeName"/>
	</resultMap>
	
	<select id="wrotePost" parameterType="int" resultMap="AMCommunityMap">
	SELECT U_COMMUNITY_POST_ID, U_ID, POST_TYPE_ID,
	U_COMMUNITY_IMG_ID, U_COMMUNITY_CONTENT, 
	U_COMMUNITY_DATE_CREATED, COMMUNITY_LIKE_CNT,
	COMMUNITY_VIEW_CNT, COMMUNITY_CUM_CNT
	FROM  (SELECT U_COMMUNITY_POST_ID, U_ID, POST_TYPE_ID,
		SEQ,
		U_COMMUNITY_POST_ID, U_ID, POST_TYPE_ID,
		U_COMMUNITY_IMG_ID, U_COMMUNITY_CONTENT, 
		U_COMMUNITY_DATE_CREATED, COMMUNITY_LIKE_CNT,
		COMMUNITY_VIEW_CNT, COMMUNITY_CUM_CNT
		FROM (SELECT U_COMMUNITY_POST_ID, U_ID, POST_TYPE_ID,
			ROWNUM AS SEQ,
			U_COMMUNITY_POST_ID, U_ID, POST_TYPE_ID,
			U_COMMUNITY_IMG_ID, U_COMMUNITY_CONTENT, 
			U_COMMUNITY_DATE_CREATED, COMMUNITY_LIKE_CNT,
			COMMUNITY_VIEW_CNT, COMMUNITY_CUM_CNT
			FROM (SELECT 
			M.U_COMMUNITY_POST_ID, M.U_ID, M.POST_TYPE_ID,
			M.U_COMMUNITY_IMG_ID, M.U_COMMUNITY_CONTENT, 
			M.U_COMMUNITY_DATE_CREATED, M.COMMUNITY_LIKE_CNT,
			M.COMMUNITY_VIEW_CNT, M.COMMUNITY_CUM_CNT
				FROM MEMBER_COMMUNITY M LEFT OUTER JOIN POST_TYPE P 
				ON M.POST_TYPE_ID = P.POST_TYPE_ID 
				WHERE U_ID=#{uId}
	    		)
    		WHERE seq <![CDATA[>=]]> #{startPostNo}
    	)
    	WHERE ROWNUM <![CDATA[<=]]> #{endPostNo}  
    		</select>

</mapper>