.CloseBtn {
    text-align: center;
    font-family: 'SUITE Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #383838;


    width: 90px;
    height: 2.5rem;
    padding: 6px;
    margin-left: 10px;
    margin-right: 5rem;
    margin-top: 6rem;

    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    float: right;


}