.insertBtn {
    float: right;
    width: 73px;
    height: 36px;
    background: #0FC016;
    border-radius: 10px;
    border-width: 0;

    font-family: 'SUITE Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 5px;
    margin-right: 10px;
}

