.pageNavigateBtn {
  width: 7rem;
  height: 7rem;
  background: rgba(255, 255, 255, 0.79);
  border-radius: 50%;
  opacity: 0%;
  
  z-index: 10;
  position: relative;
  top: 18.5rem;
}

/* .pageNavigateBtn:hover {
  cursor: pointer;
  opacity: 100%;
} */
.pageNavigateBtnLeft {
  margin-right: -5rem;
}
.pageNavigateBtnRight {
  margin-left: -5rem;
}

.pageNavigateBtn > p {
  color: #979797;
  text-align: center;
  font-family: Jua;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 7rem;
}
