.yellowActivityTitle {
  font-family: Jua;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0.5rem;

  display: -webkit-box;
  width: 13.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
