
/* 바꾸기 */

 select {
   -webkit-appearance:none; 
   /* -moz-appearance:none;  */
   /* appearance:none; */
   background: url('../../../view_img//GroupArrow.png') no-repeat center center;
   width: 6.8rem;
   border-width : 0;
   background-size: 109px;
   height: 1.78rem;
   margin-bottom: 2px;
   margin-right: 10px;
   /* text-align-last: center; */
}
/* date 안에 글자 없앨라 했는데 ...
select[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance:none; 
  display: none;
}
select[type=date]::-webkit-datetime-edit-month-field {
  -webkit-appearance:none; 
  display: none;
}
select[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance:none; 
  display: none;
}
select[type=date]::-webkit-datetime-edit-yearfield {
  -webkit-appearance:none; 
  display: none;
}

 select::-ms-expand{
   display:none;
} */
