.inputText > input {
  width: 46.807rem;
  height: 3.66531rem;
  border-radius: 0.4375rem;
  border: 0.5px solid #000;
  background: rgba(231, 231, 231, 0.1);
  padding: 0.8rem;

  font-family: SUITE Variable;
  font-size: 1.125rem;
  font-weight: 500;
}

.inputText > input::placeholder {
  font-style: italic;
}

.inputText > p {
  padding: 0.8rem;

  font-family: SUITE Variable;
  font-size: 1.125rem;
  font-weight: 500;
}

.inputNumber > input {
  text-align: center;
}

.inputDate {
  display: flex;
}
.inputDate > p {
  text-align: center;
  margin-left: -0.5rem;
}

.inputDateText::placeholder {
  font-style: italic;
}

.inputPeriod {
  width: 22.2rem;
}
.inputOneDate {
  width: 46.807rem;
}

.inputOneDate[type='date']::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
.inputOneDate[type='date']::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
.inputOneDate[type='date']::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
.inputOneDate[type='date']::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}

/* .inputOneDate[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
  font-style: italic;
  color: gray;
}
.inputOneDate:not(:empty)::before {
  content: '';
  display: none;
} */

.inputDateText,
.react-datepicker__input-container input {
  height: 3.66531rem;
  border-radius: 0.4375rem;
  border: 0.5px solid #000;
  background: rgba(231, 231, 231, 0.1);
  padding: 0.8rem;
  display: block;
  text-align: center;
  font-family: SUITE Variable;
  font-size: 1.125rem;
  font-weight: 500;
}
.react-datepicker,
.react-datepicker__header,
.react-datepicker__month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__current-month,
.react-datepicker__navigation,
.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  font-family: SUITE Variable;
}

.inputText > textarea {
  border-radius: 0.4375rem;
  border: 0.5px solid #000;
  background: rgba(231, 231, 231, 0.1);
  padding: 0.8rem;

  font-family: SUITE Variable;
  font-size: 1.125rem;
  font-weight: 500;

  resize: none;
}
