.inputSelectBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 1rem 0.6rem 0.5rem;
}

.inputSelectBox > label {
  margin: 0.6rem;
}

.inputSelects {
  display: flex;
}
