.communityDetailContent {
  width: 57.5625rem;
  border-radius: 0.625rem;
  background: rgba(227, 227, 227, 0.4);
  margin: auto;
  padding-top: 2rem;
  margin-bottom: -1rem;
}

.communityDetailContent > p {
  width: 47.875rem;
  white-space: pre-line;
  word-wrap: break-word;
  text-align: justify;
  font-family: Jua;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  margin: auto;
  margin-bottom: 1.8rem;
}

.communityDetailContent > div,
.communityDetailContent > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.communityDetailContent > div > div:first-of-type {
  margin-left: 5rem;
}
.communityDetailContent > div > div:first-of-type > div {
  margin: 0.5rem;
}
.communityDetailContent > div > div:first-of-type > div p {
  font-family: Jua;
}

.communityDetailContent > div > div:last-of-type {
  margin-right: 5.5rem;
}
.communityDetailContent > div > div:last-of-type > p {
  text-align: right;
  font-family: Jua;
  font-size: 1.0625rem;
  font-weight: 400;
  height: 1.5rem;
  line-height: 1.7rem;
  white-space: nowrap;
  margin-left: 1.5rem;
}
