.MemberBackgroundBox{
    width: 55%;
    min-width: 800px;
    height: 200px;
    padding: 10px;
    margin-left: 60px;
    background: #f8f8f8;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

} 
.MemberLinnerBox{
    width: 100%;
    height: 110px;
    background: #F3F6FF;
    border-radius: 15px;
    margin-top: 33px;
    padding: 18px;
    padding-left: 40px;
} 

.MemberCategoryName {
    display: inline-block;
    padding: 8px;
    background: #FFCC48;
    border-radius: 10px;
}
        
.MemberCategoryName > p {
    font-family: 'SUITE Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
} 
.MemberLinnerBox > ul {
    /* border : 1px solid black; */
    list-style: none;
    display: inline-block;
    line-height: 30px;
    font-family: 'SUITE Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.MemberSearchForm {
    /* position: absolute; */
    /* border : 1px solid black; */
    width: 85%;
    min-width: 600px;
    float: right;
    /* display: inline-block; */

}
buttom {
    text-align: center;
    font-family: 'SUITE Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;

    width: 90px;
    height: 36px;
    padding: 10px;

    margin-left: 10px;

}
.btmsubmit {
    color: #FFFFFF;

    background: #754BCE;
    border-radius: 20px;

    float: right;

}
.btmreset {
    background: #FFFFFF;
    border-radius: 20px;

    float: right;
}

