.yellowActivityContent {
  font-family: Jua;
  font-size: 0.9375rem;
  font-weight: 400;
  margin-top: 0.5rem;

  display: -webkit-box;
  width: 12.875rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
}
