.eventSmallCardTextBox {
  width: 16.16656rem;
}

.eventSmallCardTextTitle {
  text-align: center;
  font-family: Jua;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 1.1rem;
  margin-bottom: 0.8rem;
}

.eventSmallCardTextBox > ul {
  margin: auto;
  width: fit-content;
  height: fit-content;
}
