<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javajo.sunshineRoad.mappers.admin.member.AdminMemberCntMapper">

	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM (SELECT U_ID,
					 MEM_TYPE_ID,
					 U_NAME,
					 U_EMAIL,
					 U_NICK,
					 U_TEL,
					 U_REG_DATE,
					 U_MARKETING,
					 U_GENDER,
					 U_BIRTH,
					 U_GOOGLE_LOGIN,
					 U_NAVER_LOGIN,
					 U_KAKAO_LOGIN
			  FROM MEMBER)
	</select>

	<select id="selectMemberDATECnt" resultType="int">
		SELECT COUNT(*)
		FROM (SELECT U_ID,
					 MEM_TYPE_ID,
					 U_NAME,
					 U_EMAIL,
					 U_NICK,
					 U_TEL,
					 U_REG_DATE,
					 U_MARKETING,
					 U_GENDER,
					 U_BIRTH,
					 U_GOOGLE_LOGIN,
					 U_NAVER_LOGIN,
					 U_KAKAO_LOGIN
			  FROM MEMBER
			  WHERE U_REG_DATE BETWEEN
						TO_TIMESTAMP(#{searchDTO.startDate}, 'YYYY-MM-DD HH24:MI:SS.xff')
						AND TO_TIMESTAMP(#{searchDTO.endDate}, 'YYYY-MM-DD HH24:MI:SS.xff'))
	</select>

	<select id="selectMemberCnt" resultType="int">
		SELECT COUNT(*)
		FROM (SELECT U_ID,
					 MEM_TYPE_ID,
					 U_NAME,
					 U_EMAIL,
					 U_NICK,
					 U_TEL,
					 U_REG_DATE,
					 U_MARKETING,
					 U_GENDER,
					 U_BIRTH,
					 U_GOOGLE_LOGIN,
					 U_NAVER_LOGIN,
					 U_KAKAO_LOGIN
			  FROM MEMBER
			  WHERE (U_REG_DATE BETWEEN
				  TO_TIMESTAMP(#{searchDTO.startDate}, 'YYYY-MM-DD HH24:MI:SS.xff')
				  AND TO_TIMESTAMP(#{searchDTO.endDate}, 'YYYY-MM-DD HH24:MI:SS.xff'))
				AND (U_ID = #{searchDTO.id})
			  UNION
			  SELECT U_ID,
					 MEM_TYPE_ID,
					 U_NAME,
					 U_EMAIL,
					 U_NICK,
					 U_TEL,
					 U_REG_DATE,
					 U_MARKETING,
					 U_GENDER,
					 U_BIRTH,
					 U_GOOGLE_LOGIN,
					 U_NAVER_LOGIN,
					 U_KAKAO_LOGIN
			  FROM MEMBER
			  WHERE U_REG_DATE BETWEEN
				  TO_TIMESTAMP(#{searchDTO.startDate}, 'YYYY-MM-DD HH24:MI:SS.xff')
				  AND TO_TIMESTAMP(#{searchDTO.endDate}, 'YYYY-MM-DD HH24:MI:SS.xff')
				AND U_NAME LIKE '%' || #{searchDTO.keyword} || '%')
      </select>          
                	
	<!--  
	<resultMap type="AMCommunity" id="AMCommunity">
		<result column="U_COMMUNITY_CONTENT" property="uCommunityContent"/>
		<result column="U_COMMUNITY_FAVORITE_CNT" property="uCommunityFavoriteCnt"/>
		<result column="U_COMMUNITY_DATE_CREATED" property="uCommunityDateCreated"/>
		<collection property="postTypeDTO" resultMap="PostType" />
	</resultMap>
	
	<resultMap type="APostType" id="APostType">
		<result column="POST_TYPE_ID" property="postTypeId"/>
		<result column="POST_TYPE_NAME" property="postTypeName"/>
	</resultMap>-->
	
	<select id="wrotePostCnt" parameterType="long" resultType="int">
		SELECT COUNT(*)
		FROM (SELECT M.U_COMMUNITY_POST_ID,
					 M.U_ID,
					 M.POST_TYPE_ID,
					 M.U_COMMUNITY_IMG_ID,
					 M.U_COMMUNITY_CONTENT,
					 M.U_COMMUNITY_DATE_CREATED,
					 M.COMMUNITY_LIKE_CNT,
					 M.COMMUNITY_VIEW_CNT,
					 M.COMMUNITY_CUM_CNT
			  FROM MEMBER_COMMUNITY M
					   LEFT OUTER JOIN POST_TYPE P
									   ON M.POST_TYPE_ID = P.POST_TYPE_ID
			  WHERE U_ID = #{uId})
	</select>

</mapper>
	<!--  <resultMap type="Member" id="MemberResultSet">
		<result property="uId" column="U_ID" />
		<result property="memTypeId" column="MEM_TYPE_ID" />
		<result property="uName" column="U_NAME" />
		<result property="uEmail" column="U_EMAIL" />
		<result property="uNick" column="U_NICK" />
		<result property="uPw" column="U_PW" />
		<result property="uTel" column="U_TEL" />
		<result property="uReg_date" column="U_REG_DATE" />
		<result property="uMarketing" column="U_MARKETING" />
		<result property="uGender" column="U_GENDER" />
		<result property="uBirth" column="U_BIRTH" />
		<result property="uGoogle" column="U_GOOGLE_LOGIN" />
		<result property="uNaver_login" column="U_NAVER_LOGIN" />
		<result property="uKakao_login" column="U_KAKAO_LOGIN" />
	</resultMap>-->