.rightNavTodoList {
  list-style-type: none;
  display: flex;
  margin: 1.5rem;
  margin-left: 2rem;
}

.rightNavTodoList > a {
  text-decoration: none;
  color: #000;
  font-family: SUITE Variable;
  font-size: 0.75rem;
  font-weight: 700;
}

.rightNavTodoNo {
  width: 1.3125rem;
  height: 1.3125rem;
  background-color: #4777d3;
  border-radius: 50%;
  filter: drop-shadow(1px 1px 2px rgba(109, 144, 212, 0.43));
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

.rightNavTodoNo > p {
  color: #fff;
  font-family: SUITE Variable;
  font-size: 0.9375rem;
  font-weight: 800;
}
