.mainStatusA {
  display: inline-block;
  position: absolute;
  top: 2rem;
  width: 476px;
  height: 55px;
  padding: 1rem;
  margin-left: 3rem;

  background: #ffffff;
  border: 1px solid #f3f6ff;
  box-shadow: 1px 2px 2px #f3f6ff;
  border-radius: 10px;

  text-align: center;
  font-family: 'SUITE Variable';
  font-weight: 500;
  font-size: 16px;
}
