.ratingTopTown {
  width: 8.4375rem;
  margin-right: 3rem;
}

.ratingTopTown > p {
  color: #4777d3;
  text-align: center;
  font-family: Jua;
  font-size: 1.125rem;
  font-weight: 400;
  margin: auto;
}

.ratingTopTown > img {
  width: 8.4375rem;
  mix-blend-mode: darken;
  margin: auto;
}
