.popupDeleteBoxA {
  transform: translate(80%, -350%);
  width: 380px;
  height: 190px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #95caff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  font-family: 'SUITE Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  text-align: center;

  padding-top: 47px;
}
.popupP {
  margin-bottom: 43px;
}
.popupCancelBtn,
.popupDeleteBtn {
  width: 49%;
  height: 46%;
  padding: 18px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;

  margin: 1.8px;
  float: right;
}
.popupCancelBtn:active,
.popupDeleteBtn:active {
  background: #95caff;
  color: #ffffff;
}
