.resetBtn {
    text-align: center;
    font-family: 'SUITE Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    width: 90px;
    height: 36px;
    padding: 10px;
    margin-left: 10px;

    background: #FFFFFF;
    border-radius: 20px;
    border-width: 0;
    float: right;
}