<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javajo.sunshineRoad.mappers.admin.board.AdminInquiryMapper">

	<resultMap id="InquiryMap" type="AInquiry" >
		<id property="inquiryId" column="INQUIRY_ID" />
		<result property="inquiryStatusId" column="INQUIRY_STATUS_ID" />
		<result property="inquiryStatus" column="INQUIRY_STATUS" />
		<result property="inquiryTypeId" column="INQUIRY_TYPE_ID" />
		<result property="inquiryTypeName" column="INQUIRY_TYPE_NAME" />
		<result property="memId" column="MEM_ID" />
		<result property="inquiryTitle" column="INQUIRY_TITLE"  />
		<result property="inquiryContent" column="INQUIRY_CONTENT" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="inquiryDateCreated" column="INQUIRY_DATE_CREATED" />
		<result property="inquiryA" column="INQUIRY_A" />
	</resultMap>

	<select id="getAllInquiry" resultType="AInquiry">
		SELECT I.INQUIRY_ID,
			   I.INQUIRY_STATUS_ID,
			   S.INQUIRY_STATUS,
			   I.INQUIRY_TYPE_ID,
			   T.INQUIRY_TYPE_NAME,
			   I.MEM_ID,
			   I.INQUIRY_TITLE,
			   I.INQUIRY_CONTENT,
			   DATE_FORMAT(I.INQUIRY_DATE_CREATED, '%Y-%m-%d') AS INQUIRY_DATE_CREATED,
			   I.INQUIRY_A
		FROM INQUIRY I
				 INNER JOIN INQUIRY_STATUS S ON I.INQUIRY_STATUS_ID = S.INQUIRY_STATUS_ID
				 INNER JOIN INQUIRY_TYPE T ON I.INQUIRY_TYPE_ID = T.INQUIRY_TYPE_ID
		ORDER BY INQUIRY_ID
			LIMIT #{perPagePostCount}
		OFFSET #{startPostNo}
	</select>

    <select id="detailInquiry" resultType="AInquiry" parameterType="int">
		SELECT I.INQUIRY_ID,
			   I.INQUIRY_STATUS_ID,
			   S.INQUIRY_STATUS,
			   I.INQUIRY_TYPE_ID,
			   T.INQUIRY_TYPE_NAME,
			   I.MEM_ID,
			   I.INQUIRY_TITLE,
			   I.INQUIRY_CONTENT,
			   DATE_FORMAT(I.INQUIRY_DATE_CREATED, '%Y-%m-%d') AS INQUIRY_DATE_CREATED,
			   I.INQUIRY_A
		FROM INQUIRY I
				 INNER JOIN INQUIRY_STATUS S ON (I.INQUIRY_STATUS_ID = S.INQUIRY_STATUS_ID)
				 INNER JOIN INQUIRY_TYPE T ON (I.INQUIRY_TYPE_ID = T.INQUIRY_TYPE_ID)
		WHERE INQUIRY_ID = #{inquiryId}
    </select>
    
	<select id="selectInquiryStatus" resultMap="InquiryMap">
		SELECT I.INQUIRY_ID,
			   I.INQUIRY_STATUS_ID,
			   S.INQUIRY_STATUS,
			   I.INQUIRY_TYPE_ID,
			   T.INQUIRY_TYPE_NAME,
			   I.MEM_ID,
			   I.INQUIRY_TITLE,
			   I.INQUIRY_CONTENT,
			   DATE_FORMAT(I.INQUIRY_DATE_CREATED, '%Y-%m-%d') AS INQUIRY_DATE_CREATED,
			   I.INQUIRY_A
		FROM INQUIRY I
				 INNER JOIN INQUIRY_STATUS S
							ON (I.INQUIRY_STATUS_ID = S.INQUIRY_STATUS_ID)
				 INNER JOIN INQUIRY_TYPE T
							ON (I.INQUIRY_TYPE_ID = T.INQUIRY_TYPE_ID)
		WHERE I.INQUIRY_STATUS_ID = #{searchDTO.status}
		ORDER BY INQUIRY_ID
			LIMIT #{perPagePostCount}
		OFFSET #{startPostNo}
	</select>
	
	<select id="selectInquiryTypes" resultType="AInquiry">
		SELECT INQUIRY_ID,
			   INQUIRY_STATUS_ID,
			   INQUIRY_TYPE_ID,
			   MEM_ID,
			   INQUIRY_TITLE,
			   INQUIRY_CONTENT,
			   DATE_FORMAT(INQUIRY_DATE_CREATED, '%Y-%m-%d') AS INQUIRY_DATE_CREATED,
			   INQUIRY_A
		FROM INQUIRY
		ORDER BY INQUIRY_ID
			LIMIT #{perPagePostCount}
		OFFSET #{startPostNo}
	</select>

    <update id="answerInquiry" parameterType="AInquiry">
		UPDATE INQUIRY
		SET INQUIRY_A=#{inquiryA}
		WHERE INQUIRY_ID = #{inquiryId}
		  AND INQUIRY_TYPE_ID = #{inquiryTypeId}
    </update>
    
    <delete id="deleteInquiryPost" parameterType="int">
		DELETE
		FROM INQUIRY
		WHERE INQUIRY_ID = #{inquiryId}
    </delete>

</mapper>