<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javajo.sunshineRoad.mappers.admin.board.AdminEventMapper">

	<select id="getAllEvent" resultType="AEvent">
        SELECT
            EVENT.EVENT_ID,
            EVENT.S_ID,
            EVENT.POST_TYPE_ID,
            EVENT.EVENT_IMG_ID,
            EVENT.SIGUNGU_ID,
            RECRUIT_TYPE.EVENT_RECRUIT_TYPE_ID,
            EVENT.EVENT_STATUS_ID,
            STATUS.EVENT_STATUS,
            EVENT.EVENT_NAME,
            EVENT.EVENT_CONTENT,
            EVENT.EVENT_THUMBNAIL_IMG,
            EVENT.EVENT_DATE_CREATED,
            EVENT.EVENT_RECRUIT_START_DATE,
            EVENT.EVENT_RECRUIT_END_DATE,
            EVENT.EVENT_START_DATE,
            EVENT.EVENT_END_DATE,
            EVENT.EVENT_MAX_PEOPLE,
            EVENT.EVENT_ADDR,
            EVENT.EVENT_FAVORITE_CNT,
            EVENT.EVENT_VIEW_CNT
        FROM
            EVENT
                INNER JOIN
            event_recruitment_type recruit_type ON (event.event_recruit_type_id = recruit_type.event_recruit_type_id)
                INNER JOIN
            event_status status ON (event.event_status_id = status.event_status_id)
        WHERE
            event.event_status_id IN (3 , 5)
        ORDER BY event.event_date_created DESC
            LIMIT #{perPagePostNo} OFFSET #{startPostNo}
	</select>

    <select id="detailEvent" resultType="AEvent" parameterType="int">
        SELECT E.EVENT_ID,
               E.S_ID,
               E.POST_TYPE_ID,
               E.EVENT_IMG_ID,
               E.SIGUNGU_ID,
               E.EVENT_RECRUIT_TYPE_ID,
               R.EVENT_RECRUIT_TYPE,
               E.EVENT_STATUS_ID,
               S.EVENT_STATUS,
               E.EVENT_NAME,
               E.EVENT_CONTENT,
               E.EVENT_THUMBNAIL_IMG,
               E.EVENT_DATE_CREATED,
               E.EVENT_RECRUIT_START_DATE,
               E.EVENT_RECRUIT_END_DATE,
               E.EVENT_START_DATE,
               E.EVENT_END_DATE,
               E.EVENT_MAX_PEOPLE,
               E.EVENT_ADDR,
               E.EVENT_FAVORITE_CNT,
               E.EVENT_VIEW_CNT
        FROM EVENT E
                 INNER JOIN event_recruitment_type R
                            ON (E.EVENT_RECRUIT_TYPE_ID = R.EVENT_RECRUIT_TYPE_ID)
                 INNER JOIN event_status S
                            ON (E.EVENT_STATUS_ID = S.EVENT_STATUS_ID)
        WHERE EVENT_ID = #{eventId}
        ORDER BY EVENT_RECRUIT_START_DATE DESC
    </select>
    
    	
	<select id="selectEventRecruitDate" resultType="AEvent">
        SELECT EVENT_ID,
               S_ID,
               POST_TYPE_ID,
               EVENT_IMG_ID,
               SIGUNGU_ID,
               EVENT_RECRUIT_TYPE_ID,
               EVENT_STATUS_ID,
               EVENT_NAME,
               EVENT_CONTENT,
               EVENT_THUMBNAIL_IMG,
               EVENT_DATE_CREATED,
               EVENT_RECRUIT_START_DATE,
               EVENT_RECRUIT_END_DATE,
               EVENT_START_DATE,
               EVENT_END_DATE,
               EVENT_MAX_PEOPLE,
               EVENT_ADDR,
               EVENT_FAVORITE_CNT,
               EVENT_VIEW_CNT
        FROM EVENT
        WHERE EVENT_RECRUIT_START_DATE BETWEEN
                  STR_TO_DATE(#{searchDTO.startDate}, '%Y-%m-%d %H:%i:%s.%f')
                  AND STR_TO_DATE(#{searchDTO.endDate}, '%Y-%m-%d %H:%i:%s.%f')
            LIMIT #{perPagePostNo}
        OFFSET #{startPostNo}
    </select>
	
	<select id="selectEventStartDate" resultType="AEvent">
        SELECT EVENT_ID,
               S_ID,
               POST_TYPE_ID,
               EVENT_IMG_ID,
               SIGUNGU_ID,
               EVENT_RECRUIT_TYPE_ID,
               EVENT_STATUS_ID,
               EVENT_NAME,
               EVENT_CONTENT,
               EVENT_THUMBNAIL_IMG,
               EVENT_DATE_CREATED,
               EVENT_RECRUIT_START_DATE,
               EVENT_RECRUIT_END_DATE,
               EVENT_START_DATE,
               EVENT_END_DATE,
               EVENT_MAX_PEOPLE,
               EVENT_ADDR,
               EVENT_FAVORITE_CNT,
               EVENT_VIEW_CNT
        FROM EVENT
        WHERE EVENT_START_DATE BETWEEN
                  STR_TO_DATE(#{searchDTO.startDate}, '%Y-%m-%d %H:%i:%s.%f')
                  AND STR_TO_DATE(#{searchDTO.endDate}, '%Y-%m-%d %H:%i:%s.%f')
            LIMIT #{perPagePostNo}
        OFFSET #{startPostNo}
    </select>

	<select id="selectEventCreatedDate" resultType="AEvent">
        SELECT EVENT_ID,
               S_ID,
               POST_TYPE_ID,
               EVENT_IMG_ID,
               SIGUNGU_ID,
               EVENT_RECRUIT_TYPE_ID,
               EVENT_STATUS_ID,
               EVENT_NAME,
               EVENT_CONTENT,
               EVENT_THUMBNAIL_IMG,
               EVENT_DATE_CREATED,
               EVENT_RECRUIT_START_DATE,
               EVENT_RECRUIT_END_DATE,
               EVENT_START_DATE,
               EVENT_END_DATE,
               EVENT_MAX_PEOPLE,
               EVENT_ADDR,
               EVENT_FAVORITE_CNT,
               EVENT_VIEW_CNT
        FROM EVENT
        WHERE EVENT_DATE_CREATED BETWEEN
                  STR_TO_DATE(#{searchDTO.startDate}, '%Y-%m-%d %H:%i:%s.%f')
                  AND STR_TO_DATE(#{searchDTO.endDate}, '%Y-%m-%d %H:%i:%s.%f')
            LIMIT #{perPagePostNo}
        OFFSET #{startPostNo}
    </select>

	<select id="selectEvent"  resultType="AEvent">
        SELECT *
        FROM (SELECT E.EVENT_ID,
                     E.S_ID,
                     E.POST_TYPE_ID,
                     E.EVENT_IMG_ID,
                     E.SIGUNGU_ID,
                     E.EVENT_RECRUIT_TYPE_ID,
                     E.EVENT_STATUS_ID,
                     E.EVENT_NAME,
                     E.EVENT_THUMBNAIL_IMG,
                     E.EVENT_DATE_CREATED,
                     E.EVENT_RECRUIT_START_DATE,
                     E.EVENT_RECRUIT_END_DATE,
                     E.EVENT_START_DATE,
                     E.EVENT_END_DATE,
                     E.EVENT_MAX_PEOPLE,
                     E.EVENT_ADDR,
                     E.EVENT_FAVORITE_CNT,
                     E.EVENT_VIEW_CNT
              FROM EVENT E
                       INNER JOIN event_recruitment_type R
                                  ON (E.EVENT_RECRUIT_TYPE_ID = R.EVENT_RECRUIT_TYPE_ID)
                       INNER JOIN event_status S
                                  ON (E.EVENT_STATUS_ID = S.EVENT_STATUS_ID)
              WHERE E.EVENT_STATUS_ID IN (3, 5)
                AND E.SIGUNGU_ID = #{searchDTO.sigungu}
              UNION
              SELECT E.EVENT_ID,
                     E.S_ID,
                     E.POST_TYPE_ID,
                     E.EVENT_IMG_ID,
                     E.SIGUNGU_ID,
                     E.EVENT_RECRUIT_TYPE_ID,
                     E.EVENT_STATUS_ID,
                     E.EVENT_NAME,
                     E.EVENT_THUMBNAIL_IMG,
                     E.EVENT_DATE_CREATED,
                     E.EVENT_RECRUIT_START_DATE,
                     E.EVENT_RECRUIT_END_DATE,
                     E.EVENT_START_DATE,
                     E.EVENT_END_DATE,
                     E.EVENT_MAX_PEOPLE,
                     E.EVENT_ADDR,
                     E.EVENT_FAVORITE_CNT,
                     E.EVENT_VIEW_CNT
              FROM EVENT E
                       INNER JOIN event_recruitment_type R
                                  ON (E.EVENT_RECRUIT_TYPE_ID = R.EVENT_RECRUIT_TYPE_ID)
                       INNER JOIN event_status S
                                  ON (E.EVENT_STATUS_ID = S.EVENT_STATUS_ID)
              WHERE E.EVENT_STATUS_ID IN (3, 5)
                AND E.EVENT_RECRUIT_TYPE_ID = #{searchDTO.theme})
        ORDER BY EVENT_RECRUIT_START_DATE DESC
            LIMIT #{perPagePostNo}
        OFFSET #{startPostNo}
	</select>	

	<insert id="registrationEvent" parameterType="AEvent">
        INSERT INTO EVENT
        VALUES (NULL,
                #{sId},
                #{postTypeId},
                #{eventImgId},
                #{sigunguId},
                #{eventRecruitTypeId},
                #{eventStatusId},
                #{eventName},
                #{eventContent},
                NULL,
                CURRENT_TIMESTAMP,
                TO_DATE(#{eventRecruitStartDate}, 'YYYY-MM-DD HH24:MI:SS'),
                TO_DATE(#{eventRecruitEndDate}, 'YYYY-MM-DD HH24:MI:SS'),
                TO_DATE(#{eventStartDate}, 'YYYY-MM-DD HH24:MI:SS'),
                TO_DATE(#{eventEndDate}, 'YYYY-MM-DD HH24:MI:SS'),
                #{eventMaxPeople},
                #{eventAddr},
                #{eventFavoriteCnt},
                #{eventViewCnt})
	</insert>	

	
	<select id="PostMaxID" resultType="int" >
        SELECT MAX(EVENT_ID)
        FROM EVENT
    </select>

	<select id="ImgMaxID" resultType="int" >
        SELECT MAX(EVENT_IMG_ID)
        FROM EVENT_IMAGES
    </select>
    
    <insert id="eventImgValues" parameterType="AEventImg">
        INSERT INTO EVENT_IMAGES
        VALUES (NULL, #{eventImg1}, #{eventImg2}, #{eventImg3}, #{eventImg4}, #{eventImg5})
    </insert>
    
    <update id="updateImgID" parameterType="AEvent">
        UPDATE EVENT
        SET EVENT_IMG_ID=#{eventImgId}
        WHERE EVENT_ID = #{eventId}
    </update>   
    
    <update id="modifyEventPost" parameterType="AEvent">
        UPDATE EVENT
        SET SIGUNGU_ID               = #{sigunguId},
            EVENT_RECRUIT_TYPE_ID    = #{eventRecruitTypeId},
            EVENT_STATUS_ID          = #{eventStatusId},
            EVENT_NAME               = #{eventName},
            EVENT_CONTENT            = #{eventContent},
            EVENT_RECRUIT_START_DATE = STR_TO_DATE(#{eventRecruitStartDate}, '%Y-%m-%d %H:%i:%s'),
            EVENT_RECRUIT_END_DATE   = STR_TO_DATE(#{eventRecruitEndDate}, '%Y-%m-%d %H:%i:%s'),
            EVENT_START_DATE         = STR_TO_DATE(#{eventStartDate}, '%Y-%m-%d %H:%i:%s'),
            EVENT_END_DATE           = STR_TO_DATE(#{eventEndDate}, '%Y-%m-%d %H:%i:%s'),
            EVENT_MAX_PEOPLE         = #{eventMaxPeople},
            EVENT_ADDR               = #{eventAddr}
        WHERE EVENT_ID = #{eventId}
          AND S_ID = #{sId}
    </update>
    
    <select id="selectImgId" resultType="int" parameterType="int">
        SELECT EVENT_IMG_ID
        FROM EVENT
        WHERE EVENT_ID = #{eventId}
    </select>
    
    <delete id="deleteEventImg" parameterType="int">
        DELETE
        FROM event_images
        WHERE EVENT_IMG_ID = #{eImgId}
    </delete>
    
    <delete id="deleteEventPost" parameterType="int">
        DELETE
        FROM EVENT
        WHERE EVENT_ID = #{eventId}
    </delete>

</mapper>