<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javajo.sunshineRoad.mappers.admin.board.AdminSCommunityMapper">


	
	<select id="getAllsCommunity" resultType="ASCommunity">
	SELECT 
    SELLER_COMMUNITY_POST_ID, S_ID, POST_TYPE_ID,
    SELLER_COMMUNITY_CONTENT, SELLER_COMMUNITY_DATE_CREATED,
    COMMUNITY_LIKE_CNT, COMMUNITY_CUM_CNT
    FROM (SELECT 
        SEQ,
        SELLER_COMMUNITY_POST_ID, S_ID, POST_TYPE_ID,
        SELLER_COMMUNITY_CONTENT, SELLER_COMMUNITY_DATE_CREATED,
        COMMUNITY_LIKE_CNT, COMMUNITY_CUM_CNT
        FROM (SELECT 
            ROWNUM AS SEQ,
            SELLER_COMMUNITY_POST_ID, S_ID, POST_TYPE_ID,
            SELLER_COMMUNITY_CONTENT, SELLER_COMMUNITY_DATE_CREATED,
            COMMUNITY_LIKE_CNT, COMMUNITY_CUM_CNT
            FROM (SELECT 
                SELLER_COMMUNITY_POST_ID, S_ID, POST_TYPE_ID,
                SELLER_COMMUNITY_CONTENT, SELLER_COMMUNITY_DATE_CREATED,
                COMMUNITY_LIKE_CNT, COMMUNITY_CUM_CNT
                FROM seller_community
                ORDER BY SELLER_COMMUNITY_POST_ID DESC)
            )
            WHERE seq <![CDATA[>=]]> #{startPostNo}
        )
        WHERE ROWNUM <![CDATA[<=]]> #{endPostNo}
	</select>
	
    <select id="detailSCommunity" resultType="ASCommunity" parameterType="int">
    SELECT 
    SELLER_COMMUNITY_POST_ID, S_ID, POST_TYPE_ID,
    SELLER_COMMUNITY_CONTENT, SELLER_COMMUNITY_DATE_CREATED,
    COMMUNITY_LIKE_CNT, COMMUNITY_CUM_CNT
    FROM seller_community
    WHERE SELLER_COMMUNITY_POST_ID=#{sellerCommunityPostId}
    </select>	

    
    <delete id="deleteSCommunityPost" parameterType="int">
    DELETE seller_community WHERE SELLER_COMMUNITY_POST_ID=#{sellerCommunityPostId}
    </delete>	
</mapper>