<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javajo.sunshineRoad.mappers.admin.board.AdminActivityMapper">

	<select id="getAllActivity"  resultType="AActivity">
		SELECT
			A.A_ID,
			A.S_ID,
			S.S_COM_NAME,
			A.SIGUNGU_ID,
			G.SIGUNGU_NAME,
			G.SIDO_ID,
			D.SIDO_NAME,
			A.A_THEME_ID,
			T.A_THEME_NAME,
			DATE_FORMAT(A.A_START_DATE, '%Y-%m-%d') AS A_START_DATE,
			DATE_FORMAT(A.A_END_DATE, '%Y-%m-%d') AS A_END_DATE,
			A.A_ADDR,
			A.A_NAME,
			A.A_ONE_LINER,
			A.A_MIN_PEOPLE,
			A.A_MAX_PEOPLE,
			A.A_CHARGE,
			A.S_SITE,
			A.A_RESERVATION_DEADLINE
		FROM
			ACTIVITY_INFO A
				LEFT OUTER JOIN
			SELLER S ON (A.S_ID = S.S_ID)
				LEFT OUTER JOIN
			ACTIVITY_THEME T ON (A.A_THEME_ID = T.A_THEME_ID)
				LEFT OUTER JOIN
			REGION_SIGUNGU G ON (A.SIGUNGU_ID = G.SIGUNGU_ID)
				LEFT OUTER JOIN
			REGION_SIDO D ON (G.SIDO_ID = D.SIDO_ID)
		ORDER BY A_ID
			LIMIT #{perPagePostNo} OFFSET #{startPostNo}
	</select>
	
	<select id="selectDateActivityStart" resultType="AActivity">
		SELECT
			A.A_ID,
			A.S_ID,
			S.S_COM_NAME,
			A.SIGUNGU_ID,
			G.SIGUNGU_NAME,
			G.SIDO_ID,
			D.SIDO_NAME,
			A.A_THEME_ID,
			T.A_THEME_NAME,
			DATE_FORMAT(A.A_START_DATE, '%Y-%m-%d') AS A_START_DATE,
			DATE_FORMAT(A.A_END_DATE, '%Y-%m-%d') AS A_END_DATE,
			A.A_ADDR,
			A.A_NAME,
			A.A_ONE_LINER,
			A.A_MIN_PEOPLE,
			A.A_MAX_PEOPLE,
			A.A_CHARGE,
			A.S_SITE,
			A.A_RESERVATION_DEADLINE
		FROM
			ACTIVITY_INFO A
				LEFT OUTER JOIN
			SELLER S ON (A.S_ID = S.S_ID)
				LEFT OUTER JOIN
			ACTIVITY_THEME T ON (A.A_THEME_ID = T.A_THEME_ID)
				LEFT OUTER JOIN
			REGION_SIGUNGU G ON (A.SIGUNGU_ID = G.SIGUNGU_ID)
				LEFT OUTER JOIN
			REGION_SIDO D ON (G.SIDO_ID = D.SIDO_ID)
		WHERE
			A_START_DATE BETWEEN STR_TO_DATE(#{searchDTO.startDate}, '%Y-%m-%d %H:%i:%s.%f') AND STR_TO_DATE(#{searchDTO.endDate}, '%Y-%m-%d %H:%i:%s.%f')
		ORDER BY A_ID
			LIMIT #{perPagePostNo} OFFSET #{startPostNo}
	</select>

	<select id="selectDateActivityEND" resultType="AActivity">
		SELECT
			A.A_ID,
			A.S_ID,
			S.S_COM_NAME,
			A.SIGUNGU_ID,
			G.SIGUNGU_NAME,
			G.SIDO_ID,
			D.SIDO_NAME,
			A.A_THEME_ID,
			T.A_THEME_NAME,
			DATE_FORMAT(A.A_START_DATE, '%Y-%m-%d') AS A_START_DATE,
			DATE_FORMAT(A.A_END_DATE, '%Y-%m-%d') AS A_END_DATE,
			A.A_ADDR,
			A.A_NAME,
			A.A_ONE_LINER,
			A.A_MIN_PEOPLE,
			A.A_MAX_PEOPLE,
			A.A_CHARGE,
			A.S_SITE,
			A.A_RESERVATION_DEADLINE
		FROM
			ACTIVITY_INFO A
				LEFT OUTER JOIN
			SELLER S ON (A.S_ID = S.S_ID)
				LEFT OUTER JOIN
			ACTIVITY_THEME T ON (A.A_THEME_ID = T.A_THEME_ID)
				LEFT OUTER JOIN
			REGION_SIGUNGU G ON (A.SIGUNGU_ID = G.SIGUNGU_ID)
				LEFT OUTER JOIN
			REGION_SIDO D ON (G.SIDO_ID = D.SIDO_ID)
		WHERE
			A_END_DATE BETWEEN STR_TO_DATE(#{searchDTO.startDate}, '%Y-%m-%d %H:%i:%s.%f') AND STR_TO_DATE(#{searchDTO.endDate}, '%Y-%m-%d %H:%i:%s.%f')
		ORDER BY A_ID
			LIMIT #{perPagePostNo} OFFSET #{startPostNo}
	</select>
	
	<select id="selectDateReservation"  resultType="AActivity">
		SELECT
			A.A_ID,
			A.S_ID,
			S.S_COM_NAME,
			A.SIGUNGU_ID,
			G.SIGUNGU_NAME,
			G.SIDO_ID,
			D.SIDO_NAME,
			A.A_THEME_ID,
			T.A_THEME_NAME,
			DATE_FORMAT(A.A_START_DATE, '%Y-%m-%d') AS A_START_DATE,
			DATE_FORMAT(A.A_END_DATE, '%Y-%m-%d') AS A_END_DATE,
			A.A_ADDR,
			A.A_NAME,
			A.A_ONE_LINER,
			A.A_MIN_PEOPLE,
			A.A_MAX_PEOPLE,
			A.A_CHARGE,
			A.S_SITE,
			A.A_RESERVATION_DEADLINE
		FROM
			ACTIVITY_INFO A
				LEFT OUTER JOIN
			SELLER S ON (A.S_ID = S.S_ID)
				LEFT OUTER JOIN
			ACTIVITY_THEME T ON (A.A_THEME_ID = T.A_THEME_ID)
				LEFT OUTER JOIN
			REGION_SIGUNGU G ON (A.SIGUNGU_ID = G.SIGUNGU_ID)
				LEFT OUTER JOIN
			REGION_SIDO D ON (G.SIDO_ID = D.SIDO_ID)
		WHERE
			A_RESERVATION_DEADLINE BETWEEN STR_TO_DATE(#{searchDTO.startDate}, '%Y-%m-%d %H:%i:%s.%f') AND STR_TO_DATE(#{searchDTO.endDate}, '%Y-%m-%d %H:%i:%s.%f')
		ORDER BY A_ID
			LIMIT #{perPagePostNo} OFFSET #{startPostNo}
	</select>

<!--	테스트 필수-->
	<select id="selectActivity" resultType="AActivity">
		SELECT *
		FROM (SELECT A.A_ID,
					 A.S_ID,
					 S.S_COM_NAME,
					 A.SIGUNGU_ID,
					 G.SIGUNGU_NAME,
					 G.SIDO_ID,
					 D.SIDO_NAME,
					 A.A_THEME_ID,
					 T.A_THEME_NAME,
					 DATE_FORMAT(A.A_START_DATE, '%Y-%m-%d') AS A_START_DATE,
					 DATE_FORMAT(A.A_END_DATE, '%Y-%m-%d')   AS A_END_DATE,
					 A.A_ADDR,
					 A.A_NAME,
					 A.A_ONE_LINER,
					 A.A_MIN_PEOPLE,
					 A.A_MAX_PEOPLE,
					 A.A_CHARGE,
					 A.S_SITE,
					 A.A_RESERVATION_DEADLINE
			  FROM ACTIVITY_INFO A
					   LEFT OUTER JOIN SELLER S
									   ON (A.S_ID = S.S_ID)
					   LEFT OUTER JOIN ACTIVITY_THEME T
									   ON (A.A_THEME_ID = T.A_THEME_ID)
					   LEFT OUTER JOIN REGION_SIGUNGU G
									   ON (A.SIGUNGU_ID = G.SIGUNGU_ID)
					   LEFT OUTER JOIN REGION_SIDO D
									   ON (G.SIDO_ID = D.SIDO_ID)
			  WHERE (A.A_NAME LIKE CONCAT('%', #{searchDTO.keyword}, '%')
				  AND G.SIDO_ID = #{searchDTO.sido}
				  AND A.SIGUNGU_ID = #{searchDTO.sigungu})
				 OR (A.A_NAME LIKE CONCAT('%', #{searchDTO.keyword}, '%') UNION
			  SELECT A.A_ID,
					 A.S_ID,
					 S.S_COM_NAME,
					 A.SIGUNGU_ID,
					 G.SIGUNGU_NAME,
					 G.SIDO_ID,
					 D.SIDO_NAME,
					 A.A_THEME_ID,
					 T.A_THEME_NAME,
					 DATE_FORMAT(A.A_START_DATE, '%Y-%m-%d') AS A_START_DATE,
					 DATE_FORMAT(A.A_END_DATE, '%Y-%m-%d') AS A_END_DATE,
					 A.A_ADDR,
					 A.A_NAME,
					 A.A_ONE_LINER,
					 A.A_MIN_PEOPLE,
					 A.A_MAX_PEOPLE,
					 A.A_CHARGE,
					 A.S_SITE,
					 A.A_RESERVATION_DEADLINE FROM ACTIVITY_INFO A
					   LEFT OUTER JOIN SELLER S
									   ON (A.S_ID = S.S_ID)
					   LEFT OUTER JOIN ACTIVITY_THEME T
									   ON (A.A_THEME_ID = T.A_THEME_ID)
					   LEFT OUTER JOIN REGION_SIGUNGU G
									   ON (A.SIGUNGU_ID = G.SIGUNGU_ID)
					   LEFT OUTER JOIN REGION_SIDO D
									   ON (G.SIDO_ID = D.SIDO_ID)
			  WHERE (G.SIDO_ID = #{searchDTO.sido}
						 AND A.SIGUNGU_ID = #{searchDTO.sigungu}
						 AND A.A_THEME_ID = #{searchDTO.theme})
						 OR (G.SIDO_ID = #{searchDTO.sido}
						 AND A.SIGUNGU_ID = #{searchDTO.sigungu})
						 OR (A.A_THEME_ID = #{searchDTO.theme})
						 UNION
						 SELECT A.A_ID,
					 A.S_ID,
					 S.S_COM_NAME,
					 A.SIGUNGU_ID,
					 G.SIGUNGU_NAME,
					 G.SIDO_ID,
					 D.SIDO_NAME,
					 A.A_THEME_ID,
					 T.A_THEME_NAME,
					 DATE_FORMAT(A.A_START_DATE, '%Y-%m-%d') AS A_START_DATE,
					 DATE_FORMAT(A.A_END_DATE, '%Y-%m-%d') AS A_END_DATE,
					 A.A_ADDR,
					 A.A_NAME,
					 A.A_ONE_LINER,
					 A.A_MIN_PEOPLE,
					 A.A_MAX_PEOPLE,
					 A.A_CHARGE,
					 A.S_SITE,
					 A.A_RESERVATION_DEADLINE FROM ACTIVITY_INFO A
					   LEFT OUTER JOIN SELLER S
									   ON (A.S_ID = S.S_ID)
					   LEFT OUTER JOIN ACTIVITY_THEME T
									   ON (A.A_THEME_ID = T.A_THEME_ID)
					   LEFT OUTER JOIN REGION_SIGUNGU G
									   ON (A.SIGUNGU_ID = G.SIGUNGU_ID)
					   LEFT OUTER JOIN REGION_SIDO D
									   ON (G.SIDO_ID = D.SIDO_ID)
			  WHERE (A.A_CHARGE <![CDATA[<=]]> #{searchDTO.charge})
						 OR (A.A_CHARGE <![CDATA[<=]]> #{searchDTO.charge}
						 AND G.SIDO_ID = #{searchDTO.sido}
						 AND A.SIGUNGU_ID = #{searchDTO.sigungu}))
				  result
			  ORDER BY A_ID
				  LIMIT #{perPagePostNo}
			  OFFSET #{startPostNo}
	</select>
	
	<insert id="registrationActivity" parameterType="AActivity">
		INSERT INTO activity_info
		VALUES (NULL,
				#{aId},
				#{sId},
				#{sigunguId},
				#{aThemeId},
				STR_TO_DATE(#{aStartDate}, '%Y-%m-%d %H:%i:%s'),
				STR_TO_DATE(#{aEndDate}, '%Y-%m-%d %H:%i:%s'),
				#{aAddr},
				#{aName},
				#{aOneLiner},
				#{aMinPeople},
				#{aMaxPeople},
				#{aCharge},
				NULL,
				#{sSite},
				STR_TO_DATE(#{aReservationDeadline}, '%Y-%m-%d %H:%i:%s'))
	</insert>
	
	<select id="PostMaxID" resultType="int" >
		SELECT MAX(A_ID)
		FROM ACTIVITY_INFO
    </select>
    
    
	<select id="ImgMaxID" resultType="int" >
		SELECT MAX(A_IMG_ID)
		FROM ACTIVITY_IMAGES
    </select>
    
    <insert id="activityImgValues" parameterType="AActivityImg">
		INSERT INTO ACTIVITY_IMAGES
		VALUES (NULL, #{activityImg1}, #{activityImg2}, #{activityImg3}, #{activityImg4},
				#{activityImg5})
    </insert>
    
    <update id="updateImgID" parameterType="AActivity">
		UPDATE ACTIVITY_INFO
		SET A_IMG_ID = #{aImgId}
		WHERE A_ID = #{aId}
    </update>   
    
    <update id="modifyActivityPost" parameterType="AActivity">
		UPDATE ACTIVITY_INFO
		SET SIGUNGU_ID=#{sigunguId},
			A_THEME_ID=#{aThemeId},
			A_START_DATE = STR_TO_DATE(#{aStartDate}, '%Y-%m-%d %H:%i:%s'),
			A_END_DATE = STR_TO_DATE(#{aEndDate}, '%Y-%m-%d %H:%i:%s'),
			A_ADDR=#{aAddr},
			A_NAME=#{aName},
			A_ONE_LINER=#{aOneLiner},
			A_MIN_PEOPLE=#{aMinPeople},
			A_MAX_PEOPLE=#{aMaxPeople},
			A_CHARGE=#{aCharge},
			S_SITE=#{sSite},
			A_RESERVATION_DEADLINE = STR_TO_DATE(#{aReservationDeadline}, '%Y-%m-%d %H:%i:%s')
		WHERE A_ID = #{aId}
		  AND S_ID = #{sId}
    </update>
    
    <select id="selectImgId" resultType="int" parameterType="int">
		SELECT
			B.A_IMG_ID
		FROM
			ACTIVITY_INFO A,
			activity_images B
		WHERE
			A.A_IMG_ID = B.A_IMG_ID AND A.A_ID = #{aId}
    </select>
    
    <delete id="deleteActivityImg" parameterType="int">
		DELETE FROM ACTIVITY_IMAGES WHERE A_IMG_ID =#{aImgId}
    </delete>
    
    <delete id="deleteActivityPost" parameterType="int">
		DELETE FROM ACTIVITY_INFO WHERE A_ID=#{aId}
    </delete>
    
    <select id="detailImgActivity" resultType="AActivityImg" parameterType="int">
		SELECT
			a_img1, a_img2, a_img3, a_img4, a_img5
		FROM
			ACTIVITY_IMAGES
		WHERE
			a_img_id = #{aImgId}
	</select>
    
    <select id="detailActivity" resultType="AActivity" parameterType="int">
		SELECT
			A.A_ID,
			A.S_ID,
			S.S_COM_NAME,
			A.SIGUNGU_ID,
			G.SIGUNGU_NAME,
			G.SIDO_ID,
			D.SIDO_NAME,
			A.A_THEME_ID,
			T.A_THEME_NAME,
			A.A_START_DATE,
			A.A_END_DATE,
			A.A_ADDR,
			A.A_NAME,
			A.A_ONE_LINER,
			A.A_MIN_PEOPLE,
			A.A_MAX_PEOPLE,
			A.A_CHARGE,
			A.S_SITE,
			A.A_RESERVATION_DEADLINE,
			A.A_IMG_ID,
			I.A_IMG1,
			I.A_IMG2,
			I.A_IMG3,
			I.A_IMG4,
			I.A_IMG5
		FROM
			ACTIVITY_INFO A
				LEFT OUTER JOIN
			SELLER S ON (A.S_ID = S.S_ID)
				LEFT OUTER JOIN
			ACTIVITY_THEME T ON (A.A_THEME_ID = T.A_THEME_ID)
				LEFT OUTER JOIN
			ACTIVITY_IMAGES I ON (A.A_IMG_ID = I.A_IMG_ID)
				LEFT OUTER JOIN
			REGION_SIGUNGU G ON (A.SIGUNGU_ID = G.SIGUNGU_ID)
				LEFT OUTER JOIN
			REGION_SIDO D ON (G.SIDO_ID = D.SIDO_ID)
		WHERE
			A.A_ID = #{aId}
	</select>
			
</mapper>