.InquiryInnerBoxA {
  width: 100%;
  height: 100%;

  background: #ffffff;
  border-radius: 16px;
  padding: 1rem;
}

.inquiryNameA {
  display: inline-block;
  background: #95caff;
  border-radius: 10px;

  padding: 5px;
  padding-left: 2rem;
  padding-right: 2rem;

  font-family: 'SUITE Variable';
  font-weight: 700;
  font-size: 16px;

  margin-bottom: 3rem;
}
