.adminLogoutBtnBox {
  width: 3.75rem;
  height: 2.4375rem;
  border-radius: 0.625rem;
  background: rgba(243, 246, 255, 0.31);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
  margin: 0.5rem;
}

.adminLogoutBtnBox a {
  text-decoration: none;
}

.adminLogoutBtnText {
  color: #6c6c6c;
  font-family: SUITE Variable;
  font-size: 0.75rem;
  font-weight: 700;
  height: 2.4375rem;
  text-align: center;
  line-height: 2.4375rem;
}
