.inputAttach {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.inputAttachBtn {
  width: 15.1rem;
  height: 3.66531rem;
  border-radius: 0.4375rem;
  background: #484848;
  border: none;

  color: #fff;
  text-align: center;
  font-family: SUITE Variable;
  font-size: 1.125rem;
  font-weight: 600;
}
.inputAttachBtn:active {
  background-color: #a7a7a7;
}

.inputAttach > p {
  color: #000;
  font-family: SUITE Variable;
  font-size: 1.125rem;
  font-weight: 500;
  margin-left: 1rem;
}

.inputAttachFileTextBox > div {
  display: flex;
}
.inputAttachFileTextBox > div > div:first-of-type {
  margin-left: 0;
}
