.mypageListBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.mypageListBtn > img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}

.mypageListBtn > p {
  padding-left: 0.5rem;
  font-family: Jua;
  font-size: 1.25rem;
  font-weight: 400;
}
